html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h4.h4 Hi #{user.firstname} #{user.lastname},
      p You have requested to reset your password for your Foodie account.
      p Please click link below and reset your password.
      a(class='button', href=forgotPasswordUrl) Reset Password.